
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}
<div class="container container-contact">
    <div class="row">
        <div class="col-md-12 text-center ">
            <div id="content" class="whyus">
                <div>
                </div>
                <h1>Vì sao chọn chúng tôi</h1>
                <div class="col-md-12">
                    <div class="content-page">
                        <p>&nbsp;</p>
                        <h2 style="text-align:center"><span style="color:#ff0000"><u><strong><span style="font-family:Verdana,Geneva,sans-serif">LỜI GIỚI THIỆU:</span></strong></u></span></h2>
                        <p>&nbsp;</p>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif">Những năm gần đây, phong trào chơi GAMING GEAR , GAMING PC..v.v ngày càng mạnh tại Việt Nam. Không chỉ có các game</span></h4>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif"> thủ, mà còn có sự tham gia của các kỹ sư,</span><span style="font-family:Verdana,Geneva,sans-serif"> lập trình viên, kỹ thuật viên và những người yêu công nghệ khác nữa.&nbsp;</span></h4>
                        <p>&nbsp;</p>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif">Song song với nhu cầu đó, khách hàng luôn muốn tìm được cho mình 1 nơi thật tin tưởng để mua sắm. Có đến <span style="color:#ff0000"><strong><u>"95% khách</u></strong></span></span></h4>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#ff0000"><strong><u> hàng muốn mua đồ ở những nơi </u></strong></span></span><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#ff0000"><strong><u>chuyên </u></strong></span></span><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#ff0000"><strong><u>nghiệp nhất"</u></strong></span> ở hầu hết các sản phẩm mà họ cần mua, đặc biệt là đồ cao cấp, và</span></h4>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif"> đồ chuyên ngành.&nbsp;</span></h4>
                        <p>&nbsp;</p>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif">Đồ <span style="color:#ff0000"><strong>GAMING</strong></span>, cũng như các món hàng vi tính khác, khách hàng muốn tìm một nơi: <span style="color:#ff0000"><u><strong>Hàng xịn, giá càng rẻ càng tốt, bảo hành</strong></u></span></span></h4>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#ff0000"><u><strong> uy tín</strong></u></span>. &nbsp;Và riêng với đồ <span style="color:#ff0000"><strong>GAMING</strong></span> khách</span><span style="font-family:Verdana,Geneva,sans-serif"> hàng</span><span style="font-family:Verdana,Geneva,sans-serif"> còn cần 1 nơi <span style="color:#ff0000"><strong><u>CHUYÊN NGHIỆP, NHIỆT TÌNH và AM HIỂU</u></strong></span> để có được sự tư</span></h4>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif"> vấn, phục vụ tốt nhất.</span></h4>
                        <p>&nbsp;</p>
                        <h4><span style="color:#0000ff"><strong><span style="font-family:Verdana,Geneva,sans-serif">Đã không ít khách hàng đã được trải nghiệm sự đau khổ khi mua phải hàng nhái, hàng cũ. Lo lắng khi đi bảo hành.</span></strong></span></h4>
                        <h4><span style="color:#0000ff"><strong><span style="font-family:Verdana,Geneva,sans-serif"> Thất vọng khi mua hàng về không </span></strong></span><span style="color:#0000ff"><strong><span style="font-family:Verdana,Geneva,sans-serif">dùng được vì mua </span></strong><strong><span style="font-family:Verdana,Geneva,sans-serif">nhầm loại mình cần. Và tiếc tiền khi cùng 1 sản phẩm, lại phải</span></strong></span></h4>
                        <h4><span style="color:#0000ff"><strong><span style="font-family:Verdana,Geneva,sans-serif"> bỏ nhiều tiền hơn cho 1 dịch vụ</span></strong></span><span style="color:#0000ff"><strong><span style="font-family:Verdana,Geneva,sans-serif"> kém hơn.&nbsp;</span></strong></span></h4>
                        <p>&nbsp;</p>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif">Với <span style="color:#ff0000"><strong>kinh nghiệm nhiều năm</strong></span> nghiên cứu thị trường&nbsp;tại Việt Nam trong lĩnh vực <span style="color:#ff0000"><strong>GAMING</strong></span>, BBA SHOP đảm bảo làm khách hàng </span></h4>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif">tin tưởng và yêu quý với 4 đặc điểm:</span></h4>
                        <p>&nbsp;</p>
                        <h4><strong><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#ff0000"><span style="background-color:#f7f7f7">1. Nổi tiếng Nhiệt tình</span></span></span></strong></h4>
                        <h4><strong><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#ff0000"><span style="background-color:#f7f7f7">2. Chuyên gia hàng đầu</span></span></span></strong></h4>
                        <h4><strong><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#ff0000"><span style="background-color:#f7f7f7">3. Uy tín tận cùng</span></span></span></strong></h4>
                        <h4><strong><span style="font-family:Verdana,Geneva,sans-serif"><span style="color:#ff0000"><span style="background-color:#f7f7f7">4. Giá bán ra&nbsp;= Giá thị trường nơi rẻ nhất&nbsp;– 1000 VNĐ</span></span></span></strong></h4>
                        <p>&nbsp;</p>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif">BBA SHOP đã được sự tín nhiệm và yêu quý của các game thủ suốt <span style="color:#ff0000"><strong>5 năm qua</strong></span>, từ <span style="color:#ff0000"><strong>Bắc vào Nam</strong></span>. Hiện nay chúng tôi đã có chi</span></h4>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif"> nhánh tại cả <span style="color:#ff0000"><strong>Hà Nội</strong></span> và <span style="color:#ff0000"><strong>Hồ Chí Minh</strong></span> để</span><span style="font-family:Verdana,Geneva,sans-serif"> phục </span><span style="font-family:Verdana,Geneva,sans-serif">vụ&nbsp;toàn thể anh em game thủ trên Toàn quốc. Chúng tôi đang tiếp tục phát triển</span></h4>
                        <h4><span style="font-family:Verdana,Geneva,sans-serif"> hàng ngày để giữ vững và duy trì vị trí </span><span style="font-family:Verdana,Geneva,sans-serif">trong tốp đầu&nbsp;làng <span style="color:#ff0000"><strong>GAMING</strong></span> của Việt </span><span style="font-family:Verdana,Geneva,sans-serif">Nam.&nbsp;</span></h4>
                        <p>&nbsp;</p>
                        <p><span style="font-family:Verdana,Geneva,sans-serif"></span></p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                    </div>
                    <div class="col-md-12">
                        <div class="info-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1248027786382!2d106.71240731422533!3d10.801752261680834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDQ4JzA2LjMiTiAxMDbCsDQyJzUyLjYiRQ!5e0!3m2!1svi!2s!4v1507022605423" width="100%" height="450" frameborder="0" style="border:0;border-radius: 8px;" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

