@model IEnumerable<OnlineWebShop.Models.Catogory>
    <div class="col-md-3">
        <div class="list">
            <ul class="list-group">
            @foreach (var item in Model)
            {
            <a href="@Url.Action("SortByCatogories", "Home",new {id=item.CatogoriesID })" class="item">
            <li class="list-group-item">@item.CatogoriesName</li>
            </a>
             }
             </ul>
        </div>
    </div>

