@model IEnumerable<OnlineWebShop.Models.New>

<div class="abt-shoe">
    <div class="container">

        <div class="abt-shoe-main">
@foreach (var item in Model)
{
    <a @Url.Action("News","Home",new {id=item.NewsID })>
        <div class="col-md-4 abt-shoe-left">
            <div class="abt-one">
                <a href="@Url.Action("NewsDetail","Home",new { id=item.NewsID})"><img width="350px" src="~/Assets/images/@item.Images" alt="" /></a>
                <h4 style="max-width:250ch; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;width:auto"><a href="@Url.Action("News","Home",new { id=item.NewsID})">@item.Title</a></h4>
            </div>
        </div>
    </a>
}
            @*<div class="col-md-4 abt-shoe-left">
                <div class="abt-one">
                    <a href="single.html"><img src="~/Assets/images/abt-2.jpg" alt="" /></a>
                    <h4><a href="single.html">Cras dolor ligula</a></h4>
                    <p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="col-md-4 abt-shoe-left">
                <div class="abt-one">
                    <a href="single.html"><img src="~/Assets/images/abt-3.jpg" alt="" /></a>
                    <h4><a href="single.html">Cras dolor ligula</a></h4>
                    <p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
                </div>
            </div>*@
            @*<div class="clearfix"> </div>*@
        </div>
    </div>
</div>
