@model OnlineWebShop.Models.Catogory
@{
    ViewBag.Title = "EditCatogories";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

    <div class="modal_outside_login" id="modal">
        <div class="border_modal_login">
            <div class="modal_contain_login">
                @using (Html.BeginForm("EditCatogories", "Modules", FormMethod.Post))
            {
                    @Html.ValidationSummary(true)
                    <h1>
                        <span class="text_login">Sửa thông tin loại sản phẩm</span>
                    </h1>
                    <label class="email_group">
                        <h5>Tên loại:</h5>
                        <input type="text" name="catName" value="@Model.CatogoriesName" id="email[1]" aria-required="true" class="input"/>
                        <h5>Tên loại sản phẩm:</h5>
                        @Html.DropDownList("catRoot", (IEnumerable<SelectListItem>)ViewBag.RootCat, new { @class = "form-control" })

                    </label>
                    <div class="address new">
                        <input type="submit" value="Sửa thông tin">
                    </div>
                }
                <div><a href="@Url.Action("Catogories","Modules")">Back To Product List</a></div>
            </div>
        </div>
    </div>

