@model OnlineWebShop.Models.Product
@{
    ViewBag.Title = "EditProducer";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

    <div class="modal_outside_login" id="modal">
        <div class="border_modal_login">
            <div class="modal_contain_login">
                @using (Html.BeginForm("InsertProduct", "Modules", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)
                    <h1>
                        <span class="text_login">Thêm mới sản phẩm</span>
                    </h1>
                    <label class="email_group">
                        <h5>Hình ảnh:</h5>
                        <input type="file" name="uploadFile" />
                        <h5>Tên sản phẩm:</h5>
                        <input type="text" name="productName"  aria-required="true" id="pwd[1]" required class="input" />
                        <h5>Loại sản phẩm:</h5>
                        @Html.DropDownList("productCatogories",(IEnumerable<SelectListItem>)ViewBag.CatList,new { @class = "form-control" })
                        <h5>Nhà sản xuất</h5>
                        @Html.DropDownList("productProducer",(IEnumerable<SelectListItem>)ViewBag.ProList,new { @class = "form-control" })
                        <h5>Thời gian bảo hành:</h5>
                        <input type="text" name="productWarranty"  id="email[1]" aria-required="true" required class="input" />
                        <h5>Số lượng</h5>
                        <input type="text" name="productQuantity" id="email[1]" aria-required="true" required class="input" />
                        <!--CKEDITOR-->
                        <h5>Mô tả:</h5>
                        <textarea name="productDescription" id="textarea" rows="10" cols="80"></textarea>
                        <script type="text/javascript">
                            CKEDITOR.replace('textarea');
                        </script>
                        <h5>Giá:</h5>
                        <input type="text" name="productPrice"  id="email[1]" required aria-required="true" class="input"/>
                    </label>
                    <div class="address new">
                        <input type="submit" value="Thêm mới">
                    </div>
                }
                <div><a href="@Url.Action("Products","Modules")">Back To Product List</a></div>
            </div>
        </div>
    </div>
