
@{
    ViewBag.Title = "News";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>News</h2>
@*<div class="col-md-12">
    <div class="col-md-3">
        <div class="search-bar">
            @using (Html.BeginForm("SearchingwName", "Modules", FormMethod.Post))
            {
                <input type="text" placeholder="Nhập sản phẩm" name="searchString" id="searchString">
                <input type="submit" value="">
            }
        </div>
    </div>
    <div class="col-md-4">
        <button class="btn-success"><a href="@Url.Action("InsertProduct","Modules")">Thêm Mới</a></button>
    </div>
</div>*@



